<div>
  <h1>{{ title }}</h1>
  <h4>{{ bio }}</h4>
  <h6>{{ slogan }}</h6>
  <body>
    {{ date }}
  </body>

  <img
    src="{{ mascot }}"
    alt="The Big Dipper"
    style="width: 256px; height: 256px"
  />
  <br />
  <img src="{{ icon }}" alt="Icon" style="width: 64px; height: 64px" />
  <br />
  <img
    src="{{ flag }}"
    alt="Flag of Texas"
    style="width: 192px; height: 128px"
  />

  <footer>
    <p>This is a footer!</p>
  </footer>
  <!-- <button class="btn btn-primary">Click Me!</button> -->
</div>
